<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    style="margin: 100px;">

  

    <mat-card>
      <img src="assets/images/chef1.jpg">
    </mat-card>
      
  
 
    <mat-card class="card1" style="height: 400px;">
      
       <h3>Administration</h3>
       <hr><br><br>

      <mat-card-content>
       <mat-list>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;" routerLink="/clients">Clients</button></mat-list-item><br>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;" routerLink="/leadersMangement">Manage Leaders</button></mat-list-item><br>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;"routerLink="/dishesMangement">Manage Dishes</button></mat-list-item><br>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;"routerLink="/promoManagement">Manage Promotions</button></mat-list-item>
      </mat-list>
     </mat-card-content>
  </mat-card>


</div>