$primary-color-light:  #D1C4E9;

.searchBarImg {
    width : 30px;
    height: 30px;
}

.marginSearchBar{
    margin-left: 50px;
    width: 280px;
    height: 40px;
    background-color: $primary-color-light;
    border: 2px solid gray ;
    border-radius: 12px;
}