$background-pale: #D1C4E9;

$card-color: #6666ff;

.card1{
 background-color: $background-pale;
}

.card{
    background-color: $card-color;
   }

 .background-primary1 {
    background-color: white;
    color: black;
    font-style: italic;
  }