<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    >

  

    <mat-card>
      <img src="assets/images/resto.jpg">
    </mat-card>
    
 
    <mat-card class="card1" style="height: 400px;">
      
       <h3>Clients And Feedbacks</h3>
       <hr><br><br>

      <mat-card-content>
       <mat-list>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;" routerLink="/usersList">Consult Users Accounts</button></mat-list-item><br>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;" routerLink="/feedbacks">Consult Clients Feedbacks</button></mat-list-item><br>
        <mat-list-item><button mat-button class="background-primary1" matLine style="width: 300px;" (click) = "openFeedbacksAlert()">Delete Feedbacks</button></mat-list-item><br>
        
      </mat-list>
      <button mat-button routerLink = "/administration"><span class="fa fa-arrow-left fa-lg"></span></button>
     </mat-card-content>
  </mat-card>


</div>