<div class="container"
fxLayout="column"
fxLayoutGap="10px"
(click) = "emptyList()">

<div fxFlex>
<div fxLayout="row" fxLayoutAlign="none center">
 <h3 fxFlex="80%">Dishes Available In The Restaurant</h3>
 <span class="flex-spacer"></span> 
 <mat-slide-toggle fxFlex
 [(ngModel)]="delete"
 [color]="Warn">
 Delete!
 </mat-slide-toggle>
</div>
<hr>
</div>

<div class=" alert alert-info">
  <input #inputsearch type="text" class="form-control" (keyup)="searchResult(inputsearch)" class="marginSearchBar">
</div>

<div>
  <ol *ngFor="let dish of listOfDishes">
    <ul class="list-group-item" (click)="onSelectDish(dish)">
      <img src="{{ baseURL + dish.image}}" class="searchBarImg"> {{ dish.name }}
    </ul>
  </ol>
</div>

<div *ngIf="dishes || errMess else loading">

    <div fxFlex *ngIf="dishes" [@expand]>
      <mat-grid-list cols="2" rowHeight="200px" style="margin-top: 80px;">
        <mat-grid-tile *ngFor="let dish of dishes">
          <div [routerLink]="['/updateDish', dish._id]" appHighlight>
          <img height="200px" src="{{baseURL + dish.image}}" alt={{dish.name}}>
          </div>
          <mat-grid-tile-footer>
            <h1 mat-line>{{dish.name | uppercase}}</h1>
            <span class="flex-spacer"></span>
            <button mat-icon-button *ngIf="delete" (click)="deleteDish(dish._id)">
              <span style="color: red;" class="fa fa-times fa-lg"></span>
            </button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
       </mat-grid-list><br><br>
       <button mat-button routerLink = "/administration"><span class="fa fa-arrow-left fa-lg"></span></button>
       <div><img src="/assets/images/Plus.png" alt="" height="80px;" style="margin-left: 1200px;" (click) = "openDishForm()"></div>
    </div>
      
  

<div *ngIf="errMess">
<h2>Error</h2>
<h4>{{errMess}}</h4>
</div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</ng-template>
</div>