<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div>
      <h3 *ngIf="promo">{{promo.name | uppercase}}</h3>
      <hr>
    </div>
  </div>

  <div fxFlex="40" *ngIf="promo" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{promo.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + promo.image}}" alt={{promo.name}}>
      <mat-card-content>
        <p>{{promo.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/promodetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()"><span class="fa fa-arrow-left fa-lg"></span></button>
        <button mat-button (click)="addToFavorites()"><span class="{{favorite ? 'fa fa-heart fa-lg' : 'fa fa-heart-o fa-lg'}}"></span></button>
        <button mat-button><span class="fa fa-share fa-lg"></span></button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/promodetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="promo" [@visibility]="visibility" [@expand]>
    <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of promo.comments">
        <h4 matLine> {{comment.comment}} </h4> 
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu>
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        <p matLine> {{comment.rating}} Stars</p>
        <p matLine>
          <span> -- {{comment.author.firstname}} {{comment.author.lastname}} {{commentForm.value.date | date}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-slider min="1" max="5" step="1" thumbLabel tickInterval="1" name="rating" formControlName="rating" required></mat-slider>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>

  <div [hidden]="promo || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>