<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="35" *ngIf="dish">
      <mat-card >
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          
      <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button style="font-weight: bold;" (click)="goBack()">BACK</button>
          <button mat-button style="font-weight: bold;">LIKE</button>
          <button mat-button style="font-weight: bold;">SHARE</button>
            <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
        </mat-card-actions>
      </mat-card>
  </div>

  <div [hidden] = "dish || errMsg">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div fxFlex="40">
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
   
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let comment of dish.comments">
            <h1 matLine> {{comment.comment}} </h1>
            <h1 matLine> {{comment.rating}} stars </h1>
            <h1 matLine> --{{comment.author}} {{comment.date | date}} </h1>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    
    
      <mat-card-content *ngIf="!formErrors.author && !formErrors.comment && !pristine">
        <mat-list>
          <mat-list-item >
            <h1 matLine> {{commentForm.value.comment}} </h1>
            <h1 matLine> {{commentForm.value.rating}} stars</h1>
            <h1 matLine> --{{ commentForm.value.author}} </h1>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      

      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">

        <mat-slider formControlName = "rating" min="1" max="5" step="1" value="5"  thumbLabel tickInterval="1"></mat-slider>
        
          <mat-form-field class="half-width" style="width: 530px;">
            <input matInput formControlName = "author" placeholder = "Name" type="text" required >
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>
  
          <p>
            <mat-form-field style="width: 530px;">
              <textarea matInput formControlName = "comment"  placeholder="Your Comment" rows=12 required></textarea>
              <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled]="fform.form.invalid" >Submit</button> 
      </form>

    
  </div>

</div>