$background-pale: #D1C4E9;

.menuButton{
    width: 100px;
    height: 40px;
    margin-left: 70px;
}

.marginDiv{
    margin-left: 500px;
    margin-bottom: 80px;
    width: 250px;
    height: 80px;
    background-color: $background-pale;
}